<footer class="footer">
  <section class="footer_card">
    <div class="footer_card-logo">
      <img src="../../../favicon.ico" alt="logo" />
    </div>
    <div class="footer_card-slogan">
      <h3>GROUPE<br />IMMOSUNSET</h3>
      <p>
        “ Là où le luxe <br />
        s'embrase au <br />
        crépuscule ”
      </p>
    </div>
    <div class="footer_card-plan">
      <h3>PLAN DU SITE</h3>
      <a href="#">ACCUEIL</a>
      <a href="#">A PROPOS</a>
      <a href="#">BLOG</a>
      <a href="#">CONTACT</a>
    </div>
    <div class="footer_card-contact">
      <h3>CONTACT</h3>
      <a href="#">ADRESSE</a>
      <a href="#">TELEPHONE</a>
      <div class="footer_card-logo">
        <ng-icon name="heroHeartSolid" style="color: rgb(255, 0, 157);"></ng-icon>
        <ng-icon name="heroHeartSolid" style="color: rgb(15, 38, 172);"></ng-icon>
        <ng-icon name="heroHeartSolid" style="color: rgb(115, 255, 0);"></ng-icon>
        <ng-icon name="heroHeartSolid" style="color: rgb(255, 255, 255);"></ng-icon>
      </div>
    </div>
  </section>
  <section class="footer_copyrigth">
    <p>© ImmoSunset 2023</p>
    <p>Mentions légales</p>
  </section>
</footer>
